body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 10%;

}
.app{
    width: 100%;
    overflow: hidden;
}
.header{
    color: #fff;
    width: 100%;
    height: auto;
    display: block;
}
.header img{
    width: 100%;
    height: auto;
    display: block;
}
.card{
    display: flex;
    color: #fff;
    background: linear-gradient(to left, #D6E897, #9DBDAA);
    margin-top: 5%;
    padding: 2%;
}
.cardtrailer{
    flex: 0 0 35%;
    position: static;
    padding: 2%;
}
.trailer{
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
}
.cardcontent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    padding-left: 5%;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.12);
}
#cardname{
    font-size: 350%;
    margin: 0%;
    font-weight: 500;
    margin-top: 2%;
}
#cardrole, #cardlecture{
    font-size: 170%;
    margin: 0%;
}
#details{
    border: none;
    background: none;
    padding: 0%;
    margin: 0%;
    outline: none;
    display: flex;
    justify-content: flex-end;
}
#details img{
    width: 70%;
    height: auto;
    display: block;
}