body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 10%;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.app{
    width: 100%;
    overflow: hidden;
}
.header{
    padding-top: 15%;
    width: 100%;
    height: auto;
    display: block;
}
.header img{
    width: 100%;
    height: auto;
    display: block;
}
.card{
    display: flex;
    color: black;
    padding: 4%;
}
.cardtrailer{
    flex: 0 0 45%;
    position: static;
    padding: 2%;
}
.trailer{
    width: 100%;
    display: block;
    height: 100%;
    aspect-ratio: 16/8;
}
.cardcontent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    margin-bottom: 2%;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.12);
}
#cardname{
    font-size: 350%;
    margin: 0%;
    font-weight: 500;
    margin-top: 2%;
}
#cardrole, #cardlecture{
    font-size: 170%;
    margin: 0%;
}
#Underline{
    width: 80%;
}
.bottom{
    justify-content: center;
}

@media(max-width: 767px){
    body {
        margin: 0%;
        flex-direction: column;
        padding: 4%;
        justify-content: flex-start;
        display: flex;
    }   
    .card{
        flex-direction: column;
        padding: 4%;
        justify-content: center;
        color: black;
    }
    .cardtrailer{
        flex: none;
        width: 100%;
    }
    .trailer{
        width: 100%;
        display: block;
        height: 100%;
        aspect-ratio: 16/9;
    }
    .cardcontent{
        flex: 0%;
        width: 100%;
        margin-top: 2%;
        padding-left: 0%;
    }
    #cardname{
        font-size: 200%;
    }
    #cardrole, #cardlecture{
        font-size: 120%;
    }
    #Underline{
        width: 100%;
    }
}